/********************* Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/********************* General *********************/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1 {
  font-family: "Markazi Text", serif;
  font-weight: 900;
  font-size: 2rem;
  color: #1a2b4f;
}
h2 {
  font-family: "Markazi Text", serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: #29437a;
}
p {
  font-family: "Besley", serif;
  color: #323740;
}
.knap a {
  display: inline-block;
  background-color: #29437a;
  color: white;
  text-decoration: none;
  padding: 0.7rem 1.4rem;
  border-radius: 10px;
  font-weight: 600;
  font-family: "Markazi Text", serif;
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 20px;
}

/********************* Hamburger Menu *********************/
:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 10px;
  --foreground: #29437a;
  --background: white;
  --animation: 150ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}
.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: 70px;
  right: 48px;
  z-index: 2;
  cursor: pointer;
}
.hamburger-menu::before,
.hamburger-menu input,
.hamburger-menu::after {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--background);
  border-radius: 2px;
  transition: opacity var(--animation), width var(--animation),
    rotate var(--animation), translate var(--animation);
  transform-origin: right center;
}
.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}
.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(input:checked)::before {
  rotate: -45deg;
  transition: var(--animation);
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}
.hamburger-menu:has(input:checked)::after {
  rotate: 45deg;
  transition: var(--animation);
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}
/********************* Sidebar *********************/
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #29437a;
  color: white;
  padding: 2rem 1rem;
  padding-top: 150px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  text-align: right;
}
.sidebar a {
  text-decoration: none;
  color: white;
  padding-right: 40px;
  font-family: "Besley", serif;
  font-weight: 600;
}
.sidebar ul {
  list-style: none;
  line-height: 30px;
}
header:has(.hamburger-menu input:checked) .sidebar {
  transform: translateX(0);
}

/********************* Header *********************/
header {
  position: sticky;
  top: 0;
  z-index: 100;
}

header .synlig {
  background-color: #1a2b4f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  padding-top: 3rem;
  border-bottom: solid #29437a;
  border-width: 10px;
}
.logo {
  width: 80px;
}
/********************* Forside Indhold *********************/
.oeverst {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.oeverst-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.oeverst-box {
  position: relative;
  background-color: white;
  border-radius: 20px;
  padding: 1.5rem;
  max-width: 320px;
  margin: 0 auto;
  margin-top: 6rem; /* afstand fra toppen */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
}
